# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [22]:
first = pd.DataFrame(np.random.randint(1, 5, size = 100))
second = pd.DataFrame(np.random.randint(1, 4, size = 100))
third = pd.DataFrame(np.random.randint(10000, 30001, size = 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [23]:
names = ['bedrs', 'bathrs', 'price_sqe_meter']
df = pd.concat([first, second, third], axis = 1)
df.columns = names

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [32]:
bedrs = pd.Series(np.random.randint(1,5,size = 100))
bathrs = pd.Series(np.random.randint(1,4,size = 100))
price = pd.Series(np.random.randint(10000,30001, size = 100))
df = pd.concat([bedrs, bathrs, price])
df = df.to_frame()

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [33]:
#300
len(df)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [34]:
df.reset_index(inplace = True, drop = True)
df

         0
0        1
1        2
2        4
3        1
4        4
..     ...
295  14035
296  16285
297  21938
298  13427
299  18102

[300 rows x 1 columns]