# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [4]:
users = pd.read_csv("C:/Users/Administrator/Desktop/yihan/python-learning/pandas_exercises_with_data/data/u.user",sep='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [6]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [54]:
grouped = list(users.groupby('occupation').gender)
name =[]
gen_ratio = []
for item in grouped:
    name.append(item[0])
    gender = item[1]
    num_male = len(gender[gender == 'M'])
    ratio = num_male/len(gender)
    gen_ratio.append(ratio)

grouped_data = {'name':name,
                'gen_ratio':gen_ratio}
grouped_data = pd.DataFrame(grouped_data)
grouped_data.sort_values(by = 'gen_ratio',ascending=False)

             name  gen_ratio
2          doctor   1.000000
4        engineer   0.970149
19     technician   0.962963
15        retired   0.928571
14     programmer   0.909091
6       executive   0.906250
17      scientist   0.903226
5   entertainment   0.888889
9          lawyer   0.833333
16       salesman   0.750000
3        educator   0.726316
18        student   0.693878
13          other   0.657143
11      marketing   0.615385
20         writer   0.577778
12           none   0.555556
0   administrator   0.544304
1          artist   0.535714
10      librarian   0.431373
7      healthcare   0.312500
8       homemaker   0.142857

### Step 6. For each occupation, calculate the minimum and maximum ages

In [58]:
max_age = users.groupby('occupation').age.max()
min_age = users.groupby('occupation').age.min()
print(max_age)
print(min_age)

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64
occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [59]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [61]:
grouped = list(users.groupby('occupation').gender)
name =[]
gen_ratio_m = []
gen_ratio_f = []
for item in grouped:
    name.append(item[0])
    gender = item[1]
    num_male = len(gender[gender == 'M'])
    ratio = num_male/len(gender)
    gen_ratio_m.append(ratio)
    gen_ratio_f.append(1-ratio)

grouped_data = {'name':name,
                'gen_ratio_m':gen_ratio_m,
                'gen_ratio_f':gen_ratio_f}
grouped_data = pd.DataFrame(grouped_data)
grouped_data

             name  gen_ratio_m  gen_ratio_f
0   administrator     0.544304     0.455696
1          artist     0.535714     0.464286
2          doctor     1.000000     0.000000
3        educator     0.726316     0.273684
4        engineer     0.970149     0.029851
5   entertainment     0.888889     0.111111
6       executive     0.906250     0.093750
7      healthcare     0.312500     0.687500
8       homemaker     0.142857     0.857143
9          lawyer     0.833333     0.166667
10      librarian     0.431373     0.568627
11      marketing     0.615385     0.384615
12           none     0.555556     0.444444
13          other     0.657143     0.342857
14     programmer     0.909091     0.090909
15        retired     0.928571     0.071429
16       salesman     0.750000     0.250000
17      scientist     0.903226     0.096774
18        student     0.693878     0.306122
19     technician     0.962963     0.037037
20         writer     0.577778     0.422222